:root {
  --background-color: #1e252b;
  --first-text-color: #fff;
  --second-text-color: #fdf5ff;
  --accent-color: #ff6e30;
  --accent-color2: #283036;
}

body {
  background-color: var(--background-color);
  color: var(--first-text-color);
  font-family: "Poppins";
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}

.nav-list {
  display: flex;
  gap: 60px;
}

.account-list {
  display: flex;
  align-items: center;
  gap: 41px;
}

.signup-btn {
  padding: 12px 28px;
  border-radius: 8px;
}

.navlist-item:nth-child(2)::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(./images/category_arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.navlist-item,
.hero-title,
.popular-title,
.popular-description,
.item-title,
.brand-title,
.newcomer-title,
.newcomer-description,
.explore-btn,
.ronald-name,
.join-title,
.join-description,
.load-more {
  font-weight: 500;
}

.logo-link,
.login-btn,
.hero-btn,
.visit-btn,
.join-btn {
  font-weight: 600;
}

.logo-link {
  font-size: 22px;
  color: inherit;
}

.navlist-item,
.hero-description,
.popular-description,
.item-descirption,
.visit-btn {
  color: rgba(255, 255, 255, 0.55);
}

.login-btn {
  color: rgba(255, 255, 255, 0.78);
  background-color: transparent;
}

.signup-btn,
.hero-btn {
  background-color: var(--accent-color);
}

.signup-btn,
.hero-btn {
  color: var(--second-text-color);
}

.hero-title {
  width: 600px;
  margin-top: 104px;
  font-size: 50px;
  line-height: 1.4;
}

.hero-description {
  width: 487px;
}

.hero-description,
.popular-description,
.newcomer-description,
.join-description {
  line-height: 1.667;
}

.hero-description,
.popular-description,
.item-access,
.newcomer-description,
.explore-btn,
.join-description {
  font-size: 18px;
}

.hero-input {
  margin-top: 60px;
  border: 1.5px solid gray;
  border-radius: 15px;
  background-color: var(--accent-color2);
  padding: 25px 200px 25px 40px;
}

.hero-btn {
  padding: 12px 36px;
  border-radius: 8px;
}

.hero-social {
  display: flex;
  margin-top: 110px;
  gap: 8px;
}

.popular {
  margin-top: 200px;
}

.popular-title,
.join-title,
.newcomer-title {
  font-size: 48px;
  line-height: 1.3;
}

.popular-title {
  text-align: center;
  margin-bottom: 25px;
}

.popular-description {
  width: 427px;
  display: flex;
  justify-self: center;
  text-align: center;
  margin-bottom: 110px;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.btns ul {
  display: flex;
  gap: px;
}

.like {
  padding: 7px;
  border-radius: 8px;
  background-color: transparent;
}

.load-more {
  display: block;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 17px 38px;
  background-color: transparent;
  border-radius: 5px;
}

.visit-btn {
  padding: 9px 35px;
  width: 106px;
  border-radius: 8px;
  background-color: transparent;
}

.popular-item,
.newcomer-item {
  border-radius: 15px;
  padding: 33px;
  display: flex;
  flex-direction: column;
}

.popular-item {
  flex-basis: calc((100% - (24px * 2)) / 3);
}

.popular-item > div,
.newcomer-item > div {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.text {
  display: flex;
  flex-direction: column;
}

.popular-item ul {
  display: flex;
  gap: 30px;
}

.item-title,
.brand-title {
  font-size: 24px;
}

.item-access {
  color: rgba(255, 165, 55, 0.55);
}

.item-description {
  line-height: 1.875;
}

.load-more {
  color: var(--accent-color);
}

.ronald-name {
  font-size: 26px;
}

.ronald-description {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 2.143;
}

footer .logo-img {
  background-color: var(--accent-color);
}

.brand {
  margin-top: 200px;
  background-color: rgba(44, 53, 61, 0.2);
  border-radius: 25px;
  text-align: center;
  padding: 55px 83px 56px 82px;
}

.brand-list {
  margin-top: 55px;
  display: flex;
  gap: 107px;
  justify-content: center;
}

.newcomer {
  margin-top: 200px;
}

.newcomer-description {
  color: rgba(255, 255, 255, 0.55);
  width: 427px;
  margin-top: 30px;
}

.explore-btn {
  padding: 16px 40px;
  background-color: var(--accent-color);
  border-radius: 8px;
  color: white;
  margin-top: 60px;
}

.newcomer-content {
  display: flex;
  gap: 197px;
}

.newcomer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.newcomer-item {
  flex-basis: calc((100% - 24px) / 2);
}

.testimonial {
  margin-top: 200px;
}

.testimonial > div {
  display: flex;
  gap: 57px;
}

.join {
  margin-top: 25px;
  display: flex;
}

.join-title {
  margin-bottom: 25px;
  text-align: center;
}

.join-description {
  width: 427px;
  margin-bottom: 100px;
  text-align: center;
  justify-self: center;
  color: rgba(255, 255, 255, 0.55);
}

.join-btn {
  padding: 12px 36px;
  background-color: var(--accent-color);
  color: white;
  border-radius: 8px;
}

.join form {
  display: flex;
  justify-content: center;
}

.join-input {
  padding: 22px;
  background-color: var(--accent-color2);
  border-radius: 15px;
  width: 549px;
}


.footer-section {
  display: flex;
  align-items: flex-start; 
  gap: 156px; 
  align-items: flex-start;
  gap: 156px;
}


.antools {
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo-link {
  display: flex;
  align-items: center;
  color: white;
}

.logo-img {
  margin-right: 10px;
}


.contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.company-info a {
  color: white;
}
